@model FirstWebApplication.Models.ViewModel.ViewAdviceModel

<form method="post">
    <label> Title </label>
    <input type="text" asp-for="ViewTitle" />


    <label> Description </label>
    <input type="text" asp-for="ViewDescription"/>

    <button type="submit"> Submit </button>
</form>