@{
    // Setter sidetittelen som vises i layouten
    ViewData["Title"] = "Privacy Policy";
}

@* Overskrift hentes fra ViewData over *@
<h1>@ViewData["Title"]</h1>

@* Innholdet under er placeholder-tekst, ettersom vi ikke har noe privacy policy enda*@
<p>
    Privacy Policy skal skrives her
</p>
